/* Estilos del body */
body {
    position: relative;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semitransparente */
    z-index: 1; /*superposición encima de la imagen de fondo */
}

.contenido, .nav-var-lateral {
    position: relative;
    z-index: 2;
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    color: black;
}

body {
    background-image: url(../images/old-library.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Estilos de la navbar */
.nav-var-lateral {
    border: 2px solid black; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 20%;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-var-lateral img {
    border: 2px solid green; 
    border-radius: 100px;  
    box-shadow: 0 0 10px rgba(0, 255, 0, 1);
    width: 100px;
    height: 100px;
}

.nav-var-lateral > * {
    margin: 10px;
}

.nav-var-lateral > div {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.nav-var-lateral > div > a > button, .nav-var-lateral > div > button {
    border: 2px solid black; 
    border-radius: 10px;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 150px;
    transition: all 0.3s ease;
    height: 40px; 
}

.nav-var-lateral > div > a > button:hover, .nav-var-lateral > div > button:hover {
    background-color: rgb(46, 46, 46);
    letter-spacing: 0.6px;
    color: white;
}

.opc-extras {
    display: flex;
    width: 40px;
    height: 30px;
}

.opc-extras {
    position: relative;
}

.opc-extras button {
    transition: all 0.3s ease;
    background-color: white;
    margin-right: 10px;
    border: 2px solid black;
    border-radius: 25%;
}

.opc-extras button:hover {
    background-color: rgb(46, 46, 46);
    color: white;
}

.menu-desplegable {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: white;
    border: 2px solid black;
    z-index: 1;
    width: 150px;
    top: 100%;
    left: 0;
}

.opc-extras.active .menu-desplegable {
    display: block;
}

.menu-desplegable li {
    padding: 8px 16px;
}

.menu-desplegable li a {
    text-decoration: none;
    color: black;
    display: block;
}

.menu-desplegable li a:hover {
    background-color: #ddd;
}

.menu-desplegable.active {
    display: block;
}



/* Estilos del contenido */

.contenido h1 {
    margin-top: 20px;
}

.contenedor-tabla, .contenedor-campos {
    border: 2px solid black; 
    /* border-radius: 10px;  */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contenedor-campos {
    margin: 20px 0px 0px 0px;
    display: flex;
    flex-direction: column;
}


.nav-var-lateral img {
    width: 100px;
    height: 100px;
}

.contenido {
    width: 80%;
    margin-left: 45vh;
    margin: 50px 100px 100px 60vh;
    text-align: center;
}

/* Estilos para cada fila de inputs */

.fila-campos {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.fila-campos div {
    width: 30%;
}

textarea, select {
    width: 225px; /*Era 150px, lo cambie */
    height: 30px;
}

/* Diseños para la parte de las tablas */

.tabla {
    height: fit-content;
    display: block;
    overflow-x: auto;
    margin-bottom: 30px;
    max-height: 240px;
    overflow-y: auto;
}

.tabla, .tabla-input {
    margin-top: 20px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tabla-input input {
    width: 60%;
}

.tabla table  {
    width: 80%;
    margin: 0;
    padding: 0;

}

.tabla th, .tabla td {
    padding: 10px 15px;
    background: #f9f9f9;
    border: 1px solid #ddd;
}

.tabla table thead th {
    background: lightgray;
    font-weight: bold;
    text-align: center;
    
}

#tabla-cuerpo tr:hover td {
    background-color: #f5f5f5;
    cursor: pointer;
}

/*  */

/* Estilos adicionales para el menú desplegable de información */
#boton-informacion #menu-desplegable-info {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: white;
    border: 2px solid black;
    z-index: 1;
    width: 150px;
    top: 100%;
    left: 0;
}

#boton-informacion #menu-desplegable-info li {
    padding: 8px 16px;
}

#boton-informacion #menu-desplegable-info li a {
    text-decoration: none;
    color: black;
    display: block;
}

#boton-informacion #menu-desplegable-info li a:hover {
    background-color: #ddd;
}

#boton-informacion #menu-desplegable-info.active {
    display: block;
}

#boton-informacion {
    position: relative; /* Añade posición relativa */
}

#menu-desplegable-info {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: white;
    border: 2px solid black;
    z-index: 1;
    width: 150px;
    top: 100%; 
    left: 0; 
}

.tabla-input{
    margin-bottom: 20px;
}